@model EnterpriseProject.Entities.User

@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1>My Dashboard</h1>
</div>

<div class="dashboard-container">
    <p>Welcome @Model.UserName</p>
</div>